@model UNF_WebDev.Models.RoomModel

<form>
<h1 style="width:auto;">Details for @Model.hotelName in @Model.city, @Model.state</h1>
    <hr>


    <p style="width: auto;">
        @Model.hotelDescription
    </p>

</form>
