<!DOCTYPE html>
<html>
<head>

    <title>About Our Mission and Journey to Help You</title>

</head>

<body>
    <h1> Our Mission </h1>

    <p>
        Lucid Hotels was founded in 2018 in Jacksonville, Florida. Our mission is a simple one, to provide our customers, current and future, with the best possible
        features that the hotel world has to offer. No matter where you stay you can expect the highest quality so features that you can worry about one less thing.
        Life is short, let us do the worrying and you just enjoy your stay. Don't hesitate to contact us at +1 (907)-123-4567 if <i><b>anything</b></i> doesn't live up to your
        expectations.
    </p>

    <h1> Meet Our Founders </h1>
    <p style="overflow:auto;">
        <img style="height:auto; width:auto; max-height: 500px; max-width: 300px; float:left; padding-right: 20px;" src="~/Content/Images/About/Michael Parks.png" />
        Michael Parks is a graduate of University of North Florida who has a passion for web
        development. He majored in Information Science and Computing with a minor in Criminal
        Justice. After graduation Michael followed his passion for web development and teamed up with
        UNF graduates James and Zach to create a new hospitality business. Putting their extensive
        knowledge together, Lucid Hotels was born.
    </p>

    @*TODO: Need to change the below style into something better within the CSS*@
    <p style="overflow: auto;">
        <img style="height:auto; width:auto; max-height: 500px; max-width: 300px; float:left; padding-right: 20px;" src="~/Content/Images/About/James Webb.png" />
        James Webb is a proud graduate of University of North Florida where he graduated with high honors. His major was in Information Systems while pursuing a minor in
        Business. Since graduating, James has followed his passion of software development ultimately leading him into business with his partners, Michael and Zach.
        He mainly handles the maintenance and future developments on customer improvement within the website. It's his goal to make sure you have a dreamful experience. Have
        any feedback or features you would like implemented? Email me at James.Webb@LucidHotels.com
    </p>

    <p style="overflow: auto;">
        <img style="height:auto; width:auto; max-height: 500px; max-width: 300px; float:left; padding-right: 20px;" src="~/Content/Images/About/Zach Tomburrino.png" />
        Zach Tamburrino is a proud graduate of the University of North Florida. Over the course of his 4-year degree, he fell in love with the idea of creating a hospitality business. 
        He has a background of programming the front end of a few websites and wanted to incorporate the hospitality field into his programming. As luck would have it, he met two former 
        students who also graduated from UNF, who shared his passions for this out-of-the-box way of thinking. He has worked side by side, with Michael Parks, and James Webb to make this 
        dream come true with the founding of Lucid Hotels.
    </p>
</body>
</html>