<!DOCTYPE html>
<html>
<head>

    <title>
        Lucid Hotels
    </title>
    @* TODO: Maybe change aroudn the links or remove Bootstrap as it is causing some issues. *@
    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />

</head>
<ul>
    @* TODO: Change these reference links to use the controller and view method. *@
    <li><a href="lucid.html">Home</a></li>
    <li><a href="booking.html">Booking</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="partners.html">Partners</a></li>
</ul>

<div class="transparent"></div>
<h1>Lucid Hotels</h1>
<body>
    <p class="blocktext"> <b>Welcome to Lucid Hotels, where simplicity is the epitome of complexity.
        <br> We strive to offer high quality service without the confusion.</b>
    </p>
    <div>
        <h2><a href="booking.html">Booking</a></h2>
    </div>


    <footer>

        <div class="paragraph">
            <p class="footer">
                <b>
                    Lucid Hotels
                    <br>Contact us at +1 (907)-123-4567
                </b>
            </p>
        </div>

    </footer>
</body>
</html>