<!DOCTYPE html>
<html>
<head>

    <title>Page Title</title>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

</head>
<ul>\
    @* TODO: Change this to the be the href instead of the local folder links. *@
    <li><a href="lucid.html">Home</a></li>
    <li><a href="booking.html">Booking</a></li>
    <li><a href="about.html">About</a></li>
    <li><a href="partners.html">Partners</a></li>
</ul>
<body>

</body>
</html>