<!DOCTYPE html>
<html>
<head>

    <title>Say Hello to Our Partners</title>

</head>

<body>
    <h1>AVIS</h1>

    <h1>Car Rentals</h1>
    <p>
        <a href="https://www.avis.com/en/home" target="_blank">
            <img style="float:left; padding-right: 20px;" src="~/Content/Images/Partners/CAR_Avis.jpg" height="100" Width="250" />
        </a>
        Avis is an American car rental company headquartered in Parsippany, New Jersey, United States. Avis, Budget Rent a Car, Budget Truck Rental and Zipcar are 
        all units of Avis Budget Group. Avis Budget Group operates the Avis brand in North America, South America, India, Australia, and New Zealand. In 2011, Avis 
        announced it was acquiring Avis Europe plc, which had been a separate corporation licensing the Avis brand. Since the late 1970s, Avis has featured mainly 
        General Motors (GM) vehicles such as Chevrolet and Cadillac, but today also rents popular non-GM brands including Ford and Toyota. Avis is a leading rental 
        car provider to the commercial segment serving business travelers at major airports around the world, and to leisure travellers at off-airport locations. 
        Many of the off-airport locations are franchised operations rather than company-owned and -operated, as is the case with most airport locations. 
        Avis was the first car rental business to be located at an airport.
    </p>


    <p>
        <a href="https://www.hertz.com/rentacar/reservation/" target="_blank">
            <img style="float:left; padding-right: 20px;" src="~/Content/Images/Partners/CAR_Hertz.jpg" height="100" Width="250" />
        </a>

        Whether you need a car rental for your business or vacation, Hertz has a wide range of luxury, sports, and hybrid rental cars available to meet every need. 
        Save time with thousands of convenient car rental pick-up and drop-off locations all over the world and in your back yard. Take advantage of our credit card-free 
        reservation policy to to make renting a car, van or truck with Hertz a breeze. You'll love our great rates, too. In fact, you've got our best car rental rate – guaranteed.
    </p>


    <p>
        <a href="https://www.enterprise.com/en/home.html" target="_blank">
            <img style="float:left; padding-right: 20px;" src="~/Content/Images/Partners/CAR_Enterprise.jpg" height="100" Width="250" />
        </a>
        Enterprise Rent-A-Car is an ongoing American success story. Our guiding principles, and humble beginning, revolve around personal honesty and integrity. 
        We believe in strengthening our communities one neighborhood at a time, serving our customers as if they were our family, and rewarding hard work. 
        These things are as true today as they were when we were founded in 1957.
        
        <br>
        Today, our massive network means Enterprise is the largest transportation solutions provider. We offer car and truck rentals, as well as car sharing and car sales. 
        We’re in over 85 countries with more than 7,600 locations. What does this mean to our customers? We're there when you need us.

        <br>
        We take an active role in sustainability, not only because it’s smart for our business, but because we believe in making the world a better place for future generations. 
        Because of our size, we are in a unique position to foster innovation, advance research and test market-driven solutions.
    </p>

    
    <h1>Airlines</h1>
    <p>
        <a href="https://www.aa.com/homePage.do" target="_blank">
            <img style="float:left; padding-right: 20px;" src="~/Content/Images/Partners/AIR_AmericanAirlines.jpg" height="100" Width="250" />
        </a>
        American Airlines, Inc. (AA) is a major United States airline headquartered in Fort Worth, Texas, within the Dallas-Fort Worth metroplex.
        It is the world's largest airline when measured by fleet size, revenue, scheduled passengers carried, scheduled passenger-kilometers flown, and
        number of destinations served. American, together with its regional partners, operates an extensive international and domestic network with an
        average of nearly 6,700 flights per day to nearly 350 destinations in more than 50 countries.
        American Airlines is a founding member of Oneworld alliance, the third largest airline alliance in the world.
        Regional service is operated by independent and subsidiary carriers under the brand name American Eagle.
    </p>


    <p>
        <a href="https://www.jetblue.com/" target="_blank">
            <img style="float:left; padding-right: 20px;" src="~/Content/Images/Partners/AIR_JetBlue.jpg" height="100" Width="250" />
        </a>
        JetBlue Airways Corporation, stylized as jetBlue, is an American low-cost airline headquartered in New York City.
        A major air carrier and the sixth-largest airline in the United States, JetBlue is headquartered in the Long Island City neighborhood of the New York City
        borough of Queens, with its main base at John F. Kennedy International Airport. It also maintains corporate offices in Cottonwood Heights, Utah and Orlando, Florida.
        JetBlue is not a member of any of the three major airline alliances, but, it has codeshare agreements with 21 airlines, including member airlines of
        oneworld, SkyTeam, Star Alliance, and unaffiliated airlines.

        <br>
        <br>
        As of May 2018, JetBlue serves 102 destinations (the latest addition being Steamboat Springs, Colorado) in the U.S., Mexico, the Caribbean, Central America and
        South America.
    </p>


    <p>
        <a href="https://www.delta.com/" target="_blank">
            <img style="float:left; padding-right: 20px;" src="~/Content/Images/Partners/AIR_Delta.jpg" height="100" Width="250" />
        </a>
        Delta Air Lines, Inc., often referred to simply as Delta, is a major United States airline, with its headquarters and largest hub at Hartsfield–Jackson
        Atlanta International Airport in Atlanta, Georgia. The airline, along with its subsidiaries and regional affiliates, operates over 5,400 flights daily and serves an
        extensive domestic and international network that includes 319 destinations in 54 countries on six continents, as of October 2016. Delta is one of the four founding
        members of the SkyTeam airline alliance. Regional service is operated under the brand name Delta Connection.
    </p>

</body>
</html>